.clearance{
    background-color: lightgreen;
    border: 2px solid green;   
}
.clearance>td{
    background-color: lightgreen;
}
tbody{
    font-size: small;
}
button#addToCart{
    background-color: purple;
    border: purple;
    color: white;
}
button#addToCart.unable{
    opacity: 0.5;
}
