<h1>Lista de juegos</h1>
<table class="table text-center" >
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let game of games" [ngClass]="{'clearance': game.clearance}">
            <td ><img class="img-thumbnail" [src]="game.image" [alt]="game.image" width="100"></td>
            <td>{{game.name}}</td>
            <td>{{game.description}}</td>
            <td>{{game.price | currency:'AR$'}}</td>
            <td>
                <span *ngIf="game.stock>0 ; else spanSinStock"></span>
                <ng-template #spanSinStock>
                    <span class="badge text-bg-warning">SIN STOCK</span>
                </ng-template>
            </td>
            <td> 
                <app-input-integer [game]="game" *ngIf="game.stock"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>
